{
	"trailingComma": "es5",
	"useTabs": true,
	"tabWidth": 2,
	"semi": false,
	"singleQuote": true,
	"arrowParens": "always",
	"jsxSingleQuote": false,
	"printWidth": 120,
	"bracketSameLine": true,
	"singleAttributePerLine": true,
	"plugins": ["prettier-plugin-css-order"]
}
