.wrapper {
	display: inline-block;
	color: var(--primary-600);
	font-weight: 700;
	font-size: var(--fz-s);
}

.h1 {
	margin-bottom: 30px;
	font-size: var(--fz-h-l);
	text-transform: capitalize;
}
.h2 {
	margin-bottom: 20px;
	font-size: var(--fz-h-m);
	text-transform: capitalize;
}
.h3 {
	font-size: var(--fz-h-s);
	text-transform: capitalize;
}
