.textarea {
	border: 1px solid rgba(40, 40, 40, 0.16);
	border-radius: 8px;
	padding: 18px 30px;
	color: var(--secondary-200);
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	&:focus {
		color: var(--accent);
	}
	&::placeholder {
		color: var(--primary-400);
	}
}
